.Board {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
  margin-bottom: 25px;
}

h1 {
  color: white;
}

.Cell {
  background: red;
  position: absolute;
}

.directions {
  color: white;
}

p {
  color: white;
}

.button {
  font-size: 20px;
  font-weight: 20;
  color: #67ab4c;
  margin: 2px;
  border-radius: 10 px;
}

.button:hover {
  background: #282b2d;
  color: #67ab4c;
}
